# Local Terraform directories
.terraform/
.terraform.lock.hcl

# Terraform state files
terraform.tfstate
terraform.tfstate.*
*.tfstate.backup

# SSH or private key files
*.pem

# Crash logs
crash.log

# Sensitive variable files (if you ever use them)
*.auto.tfvars
*.tfvars

# IDE specific files (optional)
.vscode/
.idea/
*.swp
*.bak
*.tmp
